# Imports

In [1]:
import requests
import pandas as pd

# Read CSV

In [2]:
# read CSV as a data frame
income = pd.read_csv("Cleaned Data/Median_Income.csv")
print(income.columns)
income.head()

Index(['NEIGHBORHOOD', 'MEDIAN INCOME', 'POPULATION PER SQMI', 'income level',
       'Lat', 'Lon'],
      dtype='object')

,NEIGHBORHOOD,MEDIAN INCOME,POPULATION PER SQMI,income level,Lat,Lon
0,Hidden Hills,203199,1100,high,34.164091,-118.657837
1,Rolling Hills,184777,893,high,33.766804,-118.349662
2,Beverly Crest,169282,1318,high,34.116770,-118.432261
3,Pacific Palisades,168008,1048,high,34.048064,-118.526471
4,Palos Verdes Estates,167344,2822,high,33.787239,-118.401813

# Function for Making Requests

In [3]:
# define function
def getLatLon(neighborhood):
    # template URL
    url = "https://nominatim.openstreetmap.org/search?format=json&q={neighborhood}, Los Angeles, CA"
    # add the neighborhood string to the URL
    url = url.replace("{neighborhood}", neighborhood)
    # make a request to the API
    page = requests.get(url)
    # convert it to json
    data = page.json()
    
    
    if data:
        # get the Lat and Lon from the json
        lat = data[0]['lat']
        lon = data[0]['lon']
        
        # save the lat and lon as a list, and return it
        point = [lat, lon]
        return point
    else:
        # if the request failes, return 0, 0 (just to keep nul values out of the dataset, [0, 0] isn't in LA)
        print("Request failed. Check your query or try again later.")
        return [0, 0]

# Make Requests to OpenStreetMap

In [ ]:
# define empty lists for the values
lats = []
lons = []

# loop for every row in the df
for i in range(len(income)):
    # get the neighborhood for the current row
    neighborhood = income["NEIGHBORHOOD"][i]
    # call the getLatLon function and save the return
    point = getLatLon(neighborhood)
    # add the lat and lon to their respective list
    lats.append(point[0])
    lons.append(point[1])

# Add Lat and Lon to the CSV

In [ ]:
# add lat values to the df
income["Lat"] = lats
# add lon values to the df
income["Lon"] = lons

# print new df
income.head()

# Save CSV

In [ ]:
# save the added data to the median income csv
income.to_csv('Cleaned Data/Median_Income.csv', index=False)