# Imports

In [5]:
import requests
import pandas as pd

# Read CSV

In [36]:
income = pd.read_csv("Cleaned Data/Median_Income.csv")
print(income.columns)
income.head()

Index(['NEIGHBORHOOD', 'MEDIAN INCOME', 'POPULATION PER SQMI', 'income level'], dtype='object')

           NEIGHBORHOOD  MEDIAN INCOME  POPULATION PER SQMI income level
0          Hidden Hills         203199                 1100         high
1         Rolling Hills         184777                  893         high
2         Beverly Crest         169282                 1318         high
3     Pacific Palisades         168008                 1048         high
4  Palos Verdes Estates         167344                 2822         high

# Function for Making Requests

In [33]:
def getLatLon(neighborhood):
    url = "https://nominatim.openstreetmap.org/search?format=json&q={neighborhood}, Los Angeles, CA"
    url = url.replace("{neighborhood}", neighborhood)
    page = requests.get(url)
    data = page.json()
    
    if data:
        lat = data[0]['lat']
        lon = data[0]['lon']
        
        point = [lat, lon]
        return point
    else:
        print("Request failed. Check your query or try again later.")
        return [0, 0]

# Make Requests to OpenStreetMap

In [43]:
lats = []
lons = []
for i in range(len(income)):
    neighborhood = income["NEIGHBORHOOD"][i]
    point = getLatLon(neighborhood)
    lats.append(point[0])
    lons.append(point[1])

# Add Lat and Lon to the CSV

In [44]:
income["Lat"] = lats
income["Lon"] = lons
income.head()

,NEIGHBORHOOD,MEDIAN INCOME,POPULATION PER SQMI,income level,Lat,Lon
0,Hidden Hills,203199,1100,high,34.164091,-118.657837
1,Rolling Hills,184777,893,high,33.7668041,-118.3496623
2,Beverly Crest,169282,1318,high,34.1167701,-118.4322607
3,Pacific Palisades,168008,1048,high,34.0480643,-118.5264706
4,Palos Verdes Estates,167344,2822,high,33.7872386,-118.401813

# Save CSV

In [45]:
income.to_csv('Cleaned Data/Median_Income.csv', index=False)