In [38]:
import pandas as pd

df = pd.read_csv("Vaccination_Rates_by_Neighborhood.csv")
df2 = pd.read_csv("LA_Median_Income_By_Neighborhood.csv")
print(len(df["CITY"].unique()))
df.head()

89

,CITY_TYPE,CITY,COMMUNITY,LABEL,City_Community,Cases,Case_Rate,Deaths,Death_Rate,Percent_of_People_with_1__Dose,Percent_of_People_Fully_Vaccinated
0,City,Agoura Hills,,City of Agoura Hills,City of Agoura Hills,4220,20208.0,22,105.0,0.85,0.80
1,City,Alhambra,,City of Alhambra,City of Alhambra,17044,19653.0,255,294.0,0.87,0.81
2,City,Arcadia,,City of Arcadia,City of Arcadia,8145,14103.0,165,286.0,0.91,0.84
3,City,Artesia,,City of Artesia,City of Artesia,4186,24924.0,88,524.0,0.87,0.80
4,City,Avalon,,City of Avalon,City of Avalon,63,1628.0,0,0.0,0.27,0.23

In [39]:
print(len(df2["NEIGHBORHOOD"].unique()))
df2["MEDIAN INCOME"] = df2["MEDIAN INCOME"].str.replace('$', '', regex=False).str.replace(',', '', regex=False)
df2["MEDIAN INCOME"] = df2["MEDIAN INCOME"].astype(int)
df2.head()

265

   rank       NEIGHBORHOOD  MEDIAN INCOME
0     1            Bel-Air         207938
1     2       Hidden Hills         203199
2     3      Rolling Hills         184777
3     4      Beverly Crest         169282
4     5  Pacific Palisades         168008

In [48]:
#Find "Neighborhoods" found in both datasets
common_values = set(df2["NEIGHBORHOOD"].unique().tolist()).intersection(set(df["CITY"].unique().tolist()))

#Count the number of common values
count = len(common_values)
print(count)

86

In [45]:
#add income levels
# high is 75675 and above
# medium is 52146 and above

#bins and labels of the ranges
bins = [0, 52146, 75675, float('inf')]
labels = ['low', 'medium', 'high']

#Apply bins to df2 and make a column for "income level"
df2['income level'] = pd.cut(df2['MEDIAN INCOME'], bins=bins, labels=labels, right=False)
df2.head()

   rank       NEIGHBORHOOD  MEDIAN INCOME income level
0     1            Bel-Air         207938         high
1     2       Hidden Hills         203199         high
2     3      Rolling Hills         184777         high
3     4      Beverly Crest         169282         high
4     5  Pacific Palisades         168008         high

In [44]:
# Save the modified DataFrame as a CSV file
df2.to_csv('output/Median_Income.csv', index=False)